*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    overflow-x: hidden;
}

body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Heebo', sans-serif;
}

/* Style navigation bar. */
nav *{
    display: inline;
}

nav{
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5rem;
    background: #687EFF;
    z-index: 999;
}


nav ul{
    display: inline-flex;
    gap: 1rem;
}

nav ul:last-of-type{
    margin-right: 0.5rem;
}

nav ul li a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #fefbec;
}

nav ul li a:hover{
    background-color: #19184e;
}

/* Style introduction section. */
.introduction{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(239,245,255,1) 0%, rgba(128,179,255,1) 40%);
}

.introduction h1{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #4b4b83;
}

.introduction i{
    color: #440167;
    font-size: 1.5rem;
}

/* Work section styles */
#work{
    text-align: center;
    padding: 10rem 2rem;
    background: #b3ff80;
}

#work h2{
    max-width: 40rem;
    font-size: 1.8rem;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #fff;
    color: #4b4b83;
}

#work .projects-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#work .projects-flex a{
    margin: 1rem;
    text-decoration: none;
    background: rgba(128,179,255,1);
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

#work .projects-flex a:hover{
    transform: scale(1.1);
    overflow: hidden;
}

#work .projects-flex a p{
    font-weight: bolder;
}

#work .projects-flex .project-image{
    width: 100%; /* Allowing the images to take all its width. 1125x750 */
    height: auto;
}

.project-image img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

/* Contact section styles */
#contact{
    background: #ff80b3;
    text-align: center;
    padding: 10rem 2rem;
}

#contact h3{
    font-size: 3rem;
    font-weight: bold;
}

#contact span{
    display: block;
    font-weight: lighter;
    margin-bottom: 2rem;
}

#contact a{
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    color: #fff;
    transition: transform 0.3s ease-out;
}

#contact a:hover{
    transform: translateY(8px);
}

/* Footer section styles */
footer{
    background: #FAF2D3;
    padding: 1.5rem 1.5rem;
}

footer a{
    text-decoration: none;
    color: #000;
}